.registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 165px;
  height: 40px;
  padding: 7px 20px;

  border-radius: 40px;
  border: 2px solid var(--yellow-color);

  background-color: var(--background-color);

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.64px;
  color: var(--yellow-color);

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .registerBtn {
    width: 142px;
    height: 40px;
  }
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: var(--yellow-color);
  color: var(--background-color);
}
