.container {
  padding: 20px 20px 0px 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 24px 32px 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 20px 16px 0px 16px;
    width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    padding: 25px 16px 0px 16px;
  }
}
