.friend__listitem {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 280px;
    height: 239px;
    border-radius: 40px;
    background: var(--unnamed, #fff);
    box-shadow: var(--box-shadow);
    transition: box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 275px;
    border-radius: 40px;
    background: var(--unnamed, #fff);
    box-shadow: var(--box-shadow);
    transition: box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 287px;
  }
}

.friend__listitem:hover {
  box-shadow: 10px 14px 20px 3px rgba(136, 198, 253, 0.19);
}

.friendtitle {
  @media screen and (min-width: 320px) and (max-width: 1279px) {
    padding-top: 16px;

    color: var(--blue-color);
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 16px;

    color: var(--blue-color);
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.infolist {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 12px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: 16px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 20px;
  }
}

.item__text {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    color: var(--text-color);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @media screen and (min-width: 768px) {
    color: var(--text-color);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    font-weight: 600;
  }
}

.item__info,
.link__info {
  line-height: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 181px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    color: var(--text-color);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  @media screen and (min-width: 768px) {
    color: var(--text-color);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    font-weight: 400;
  }
}
.link__info {
  text-overflow: ellipsis;
}
.helperbox {
  display: flex;

  @media screen and (min-width: 320px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 19px;
  }
  @media screen and (min-width: 1280px) {
    padding-right: 35px;
  }
}
.boxfriend__logo {
  padding-left: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 100px;
    height: 68px;
  }
  @media screen and (min-width: 768px) {
    width: 124px;
    height: 88px;
  }
  @media screen and (min-width: 1280px) {
    width: 146px;
    height: 106px;
    padding-right: 20px;
  }
}

.link__info {
  color: var(--text-color);
}

.infolist__item {
  position: relative;
  color: var(--text-color);
}

.infolist__item:hover a,
.infolist__item:hover > p {
  color: var(--blue-color);
}
.infolist__item:hover div > ul > li {
  color: black;
  
}
.modal {
  position: absolute;
  margin-top: 4px;
  width: 120px;
  height: max-content;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--blue-color);
  /* Shadow default */
  box-shadow: 3px 8px 14px 0px rgba(136, 198, 253, 0.19);

  z-index: 9999;
}
.modal__list {
  padding: 12px;
}
.modal__list .modal__listitem:nth-child(-n + 6) {
  padding-bottom: 4px;
}

.modal__listitem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  color: var(--text-color);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
