@media screen and (min-width: 320px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 159px;
  }
}
