.container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-top: 62px;

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    gap: 32px;
  }
}

.petListBox {
  width: 100%;
}

.petSide {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 28px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 4%;
  text-align: left;
  color: var(--text-color);
}

/* --------------- Add Pet Button --------------- */

.addPetBtn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  position: relative;
  padding: 9px 16px;

  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.64px;
  color: var(--unnamed, #fef9f9);

  border: none;
  border-radius: 40px;
  cursor: pointer;
  opacity: 0.75;
  background-color: var(--unnamed, #54adff);
  transition: background 250s cubic-bezier(0.215, 0.61, 0.355, 1),
    opacity 250s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.addPetBtn:hover,
.addPetBtn:focus {
  background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  opacity: 1;
}

