.navigationWrap {
  display: none;
}

@media screen and (min-width: 1280px) {
  .navigationWrap {
    display: flex;
    justify-content: space-between;
    gap: 329px;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
